<!--
Copyright (C) 2017 Bryan Hughes <bryan@nebri.us>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

{{#embed}}
{{> header path=path title=title description=description }}
{{/embed}}

<section class="content">
  <h2>"{{title}}"</h2>
  {{#if sessionLink}}
  <div class="talk-page-event"><a href="{{sessionLink}}">{{event}}.</a></div>
  {{else}}
  <div class="talk-page-event">{{event}}.</div>
  {{/if}}
  <div class="talk-page-event-location">{{location}}.</div>
  <div class="talk-page-event-date">{{month}} {{year}}.</div>

  {{#if abstract}}
  <div>
    <h4>Abstract</h4>
    {{#abstract}}
      <p>{{.}}</p>
    {{/abstract}}
  </div>
  {{/if}}

  {{#if videoEmbed}}
  <div><h4>Video</h4>{{{videoEmbed}}}</div>
  {{else if video}}
  <div><h4>Video</h4><a href="{{{video}}}">Watch the video</a></div>
  {{/if}}

  {{#if links}}
  <div>
    <h4>Useful Links</h4>
    {{#links}}
    <div>
      <div class="talk-page-link-anchor"><a href="{{url}}">{{title}}</a></div>
      {{#if description}}
      <div class="talk-page-link-description">
        {{#description}}<p>{{.}}</p>{{/description}}
      </div>
      {{/if}}
    </div>
    {{/links}}
  </div>
  {{/if}}
</section>

{{> footer }}
